<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- the nature -->
	<extension point="org.eclipse.core.resources.natures"
		id="rustyeclipse.nature"
		name="Rust Nature">
      <runtime>
         <run class="rustyeclipse.core.RustNature"/>
      </runtime>
      <builder 
            id="rustyeclipse.RustBuilder">
      </builder>
   </extension>
   <!-- builder --> 
   <extension
         id="rustyeclipse.RustBuilder"
         name="Rust Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            callOnEmptyDelta="true">
         <run
               class="rustyeclipse.builder.RustBuilder">
         </run>
      </builder>
   </extension>
   <!-- error markers -->
   <extension
         id="rustyeclipse.rustProblem"
         name="Rust Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <!-- error decorator -->
   <extension point="org.eclipse.ui.decorators">
	<decorator
	    id="rustyeclipse.decorators"
	    label="Rust Decorator"
	    state="true"
	    lightweight= "true"	    
	    class= "rustyeclipse.ui.Decorators"
	    adaptable="true">
	    <description>
	      Adds error markers for Rust.
	    </description>
	    <enablement>
	    <objectClass 
           name="org.eclipse.core.resources.IResource">
	    </objectClass>
	    </enablement>
	  </decorator>
	</extension>
<!-- editor -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Rust Editor"
            extensions="rs"
            icon="icons/rustfile.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="rustyeclipse.editors.RustEditor"
            id="rustyeclipse.editors.RustEditor">
      </editor>
   </extension>
<!-- Wizards -->
	<extension
	      point = "org.eclipse.ui.newWizards">
		<category
		   id = "rustyeclipse.wizards"
		   name="Rust">
		</category>
	 	<wizard
		   id = "rustyeclipse.newproject"
			name = "Rust Project"
			project="true"
			finalPerspective="rustyeclipse.rustperspective"
		   class="rustyeclipse.ui.wizards.NewProjectWizard"
		   category="rustyeclipse.wizards"
		   icon="icons/rust.png">
	    	   <description>Create a new Rust project</description>
		   <selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
		<wizard
		   id = "rustyeclipse.wizards.newfile"
			name = "Rust File"
			project="false"
			finalPerspective="rustyeclipse.rustperspective"
		   class="rustyeclipse.ui.wizards.NewPackageWizard"
		   category="rustyeclipse.wizards"
		   icon="icons/rustyrust.png">
	    	   <description>Create a new Rust file</description>
		   <selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>
 <!-- navigator content -->
    <extension
      point="org.eclipse.ui.navigator.navigatorContent">
      <!-- add new project wizard to project and workspace rightclick menu -->
       <commonWizard
             type="new"
             wizardId="rustyeclipse.newproject">
          <enablement>
             <or>
                <adapt type="org.eclipse.core.resources.IProject" />
                <adapt type="org.eclipse.core.resources.IWorkspaceRoot" /> 
             </or>
        	</enablement>
       </commonWizard>
       <!-- add new file wizard to project and folders rightclick menu -->
        <commonWizard
             type="new"
             wizardId="rustyeclipse.wizards.newfile">
          <enablement>
             <or>
                <adapt type="org.eclipse.core.resources.IProject" />
                <adapt type="org.eclipse.core.resources.IFolder" />
             </or>
        	</enablement>
       </commonWizard>
   </extension>	
 <!-- editor hotkeys -->
   <extension point="org.eclipse.ui.commands">
       <command
             id="rustyeclipse.jumpdecl"
             defaultHandler="rustyeclipse.editor.JumpToDeclHandler"
             name="Rust: Jump to declaration">
       </command>
       <command
             id="rustyeclipse.togglecomment"
             defaultHandler="rustyeclipse.editor.ToggleCommentHandler"
             name="Rust: Toggle Comment">
       </command>
    </extension>
    <extension point="org.eclipse.ui.bindings">
       <key
             commandId="rustyeclipse.jumpdecl"
             contextId="rustyeclipse.rusteditorscope"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="F3">
       </key>
       <key sequence="Ctrl+7"
			commandId="rustyeclipse.togglecomment"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="rustyeclipse.rusteditorscope"/>
    </extension>
        <extension
          point="org.eclipse.ui.contexts">
       <context
             id="rustyeclipse.rusteditorscope"
             name="Rust Editor Scope"
             parentId="org.eclipse.ui.textEditorScope">
       </context>
    </extension>

</plugin>
